.background{
    background-image: url(./910442.jpg);
    background-size: 100% 100%;
    height: 800px;
    width: 100%; 
    background-attachment: fixed;

    
    
}

.socials ul li{
    list-style: none;
    display: inline-block;
    padding:15px;
    float: right;
    font-size: 20px;
    
}

.socials ul{
    margin-right: 50px;
}

.socials ul li i{
    color: white;
}

body{
    background-color: black;
}

.header{
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.3); /* Black background with 0.5 opacity */
    color: #f1f1f1;    
}

.navbar{
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */ 
    position: sticky;
    top:0;
         
}

.nav-item a:hover{
    color: goldenrod !important;
}



.centralpart{
    margin-top: 200px;
    margin-bottom: 200px;

}


.btn {
    border: 1px solid red;
    color: lightgoldenrodyellow;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight:bold ;
    transition-duration: 0.4s;
    cursor: pointer;
  }

.btn:hover{
    color: goldenrod;

}




/*-----------Footer---------*/


.footer {
    
    height: 300px;
    margin-top: 50px;
    
}

.socials li{
    display: inline-block;
    list-style: none;
    padding-right: 15px;
    font-size: 15px;
    border-radius: 50%;
    border-radius: 1px solid white;
    
}

.socials li i{
    border-radius: 50%;
    border-radius: 1px solid white;
}
.socials {
    padding-left: 0px;
}

.footer .socials i{
    border: 1px solid white;
    text-align: center;
    padding: 10px;
}

.submitbutton{
    margin-top: 10px !important;
    font-size: bold;
    
}

.submitbutton:hover{
    color: whitesmoke;
    background-color: tomato;
}


.footer h2{
    font-weight: bold; 

    padding-top: 0px;
}

.contactus{
    position: relative;
    padding-left: 110px;
}

.address{
    padding-left:70px;
}

.footer div{
    height: 100px;
}